body {
	word-wrap: break-word;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}

textarea {
    resize: none;
}

.card-title, .card-footer {
	text-align: center;
}

.card-img-top{
	height:150px;
}

header, footer{
	background-color: #2b78e4;
    border-color: #2b78e4;
	text-align:center;
}

footer{
	font-size: 90%;
	padding-top: 20px;
	padding-bottom:20px;
}

div#logoContainer {
	padding-top: 30px;
}



.glyphicon-log-in {
	font-size:35px;
	position: absolute;
	top:10px;
	right:10px;
	
}



@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}




/*Cerca farmacia*/

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}


/* Fine cerca farmacia */





